<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Started at</th>
    <th>Started by</th>
    <th>Completed at</th>
    <th>Completed by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.started_at %></td>
    <td><%= project.started_by_id %></td>
    <td><%= project.completed_at %></td>
    <td><%= project.completed_by_id %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
